body {
    background-color: rgb(196, 202, 204);
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6rem;
}

p {
    color: black;
}

div {
    text-align: center;
}

ul {
    text-align: left;
}